@import "../../../variables";
.event {
  height: 100;
}
.eventName {
    font-weight: bold;
}

@keyframes loadingActivation {
    from { opacity:1; }
    to { opacity: 0.1; }
}

.loading-active {
    animation-name: loadingActivation;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
}

.bg-warning {
    :host-context(.ns-dark) & {
        background-color: $warning-dark;
        Button {
            background-color: $white;
            color: $background-dark !important;
        }
        Label {
            color: $background-dark !important;
        }
    }

    :host-context(.ns-light) & {
        background-color: $warning;
    }
}
