<ActionBar class="nt-action-bar" title="Select Event">
    <NavigationButton *ifAndroid icon="res://ic_arrow_back_white" (tap)="onBackTap()" text="Accounts"></NavigationButton>
    <NavigationButton *ifIos (tap)="onBackTap()" text="Accounts"></NavigationButton>
</ActionBar>

<GridLayout [rows]="rowsLayout">
  <GridLayout columns="16, 50, 16, *" rows="16, auto, auto" class="bg-warning" *ngIf="accountHasPendingDataForPastEvents && !isLoading" row="0" (tap)="forcePushPendingScans()">
      <Label class="icon icon-2x text-center" text="&#xf30c;" col="1" row="1" rowSpan="2"></Label>
      <Label text="You have pending scans" class="h3" col="3" row="1"></Label>
      <Label text="Tap here to force upload." class="h3" col="3" row="2"></Label>
  </GridLayout>
  <PullToRefresh *ngIf="account && !isLoading" (refresh)="onPullToRefreshInitiated($event)" [row]="mainRowIndex">
      <ListView id="list" [items]="events" class="list-group">
            <ng-template let-event="item">
              <GridLayout rows="50, 110" columns="*, 35" class="list-group-item" (tap)="select(event)">
                <Image *ngIf="event" [src]="account.url + event.imageUrl" loadMode="async" stretch="aspectFit" row="0" col="0"></Image>
                <StackLayout col="0" row="1" orientation="vertical" *ngIf="event">
                    <Label [text]="event.name" class="h3" textWrap="true"></Label>
                    <Label text="{{ event.begin | date:'short' }} - {{ event.end | date:'short' }}" *ngIf="!event.oneDay"></Label>
                    <Label text="{{ event.begin | date:'shortDate' }} {{ event.begin | date:'shortTime' }} - {{ event.end | date:'shortTime' }}" *ngIf="event.oneDay"></Label>
                    <Label [text]="event.location"></Label>
                </StackLayout>
                <Label text="&#xf2fb;" rowSpan="2" col="2" class="icon icon-1-5x person-icon text-center"></Label>
              </GridLayout>
            </ng-template>
      </ListView>
  </PullToRefresh>
  <ActivityIndicator class="activity-indicator" [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" row="2" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>

</GridLayout>
