<ActionBar title="Select Event">
    <NavigationButton text="Go Back" icon="res://ic_arrow_back_white_24dp" (tap)="onBackTap()"></NavigationButton>
</ActionBar>

<GridLayout rows="10, *, auto, 60">
  <ListView [items]="events" row="1" [class.visible]="listLoaded">
    <template let-item="item" class="event">
      <GridLayout columns="70, auto">
        <Image col="0" [src]="item.image" stretch="aspectFit" width="70" height="70"></Image>
        <StackLayout col="1" class="medium-spacing" orientation="vertical" (tap)="select(item)">
            <Label [text]="item.eventConfiguration.name" class="eventName"></Label>
            <Label text="{{ item.eventConfiguration.begin | date:'medium' }} - {{ item.eventConfiguration.end | date:'medium' }}" *ngIf="!item.eventConfiguration.oneDay"></Label>
            <Label text="{{ item.eventConfiguration.begin | date:'mediumDate' }} {{ item.eventConfiguration.begin | date:'shortTime' }} - {{ item.eventConfiguration.end | date:'shortTime' }}" *ngIf="item.eventConfiguration.oneDay"></Label>
            <Label [text]="item.eventConfiguration.location"></Label>
        </StackLayout>
      </GridLayout>
    </template>
  </ListView>

  <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" row="1" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>

</GridLayout>