Page {
  background-color: white;
  font-size: 15;
}
ActionBar {
  background-color: #ff9800;
  color: white;
}
TextField {
  padding: 10;
  font-size: 13;
}
.small-spacing {
  margin: 5;
}
.medium-spacing {
  margin: 10;
}
.submit-button {
  background-color: #ff9800;
  color: white;
  margin-top: 20;
}
.fab-button {
    height: 70;
    margin: 15;
    horizontal-align: right; 
    vertical-align: bottom; 
    background-color: #2962ff; 
}
.loading-indicator {
  height: 50;
}