@import url("~/platform.css");

Page {
  background-color: white;
  font-size: 15;
}
ActionBar {
  background-color: #ff9800;
  color: white;
}
TextField {
  padding: 10;
  font-size: 13;
}
.small-spacing {
  margin: 5;
}
.medium-spacing {
  margin: 10;
}
.submit-button {
  background-color: #ff9800;
  color: white;
  margin-top: 20;
}

.pageTitle {
  font-size: 18;
  margin-top:10;
  font-weight: bold;
  text-align: center;
}

.material-icon {
  font-family: 'Material-Design-Iconic-Font';
  vertical-align: middle;
}

.icon-medium {
  font-size: 32;
}