<GridLayout rows="*, auto, *, auto, *" columns="50, *, 50" class="account-selection">
  <Label *ngIf="hasAccounts" row="1" col="1" text="Select an account from the list"></Label>
  <Label *ngIf="!hasAccounts" row="1" col="1" text="No accounts have been defined"></Label>
  <ListView [items]="accounts" row="2" col="1" [class.visible]="hasAccounts && !isLoading">
    <template let-item="item">
      <GridLayout columns="*, auto">
        <Label col="0" [text]="item.username" class="medium-spacing" (tap)="manage(item)"></Label>
        <Label col="1" [text]="item.url" class="medium-spacing"></Label>
      </GridLayout>
    </template>
  </ListView>
  <ActivityIndicator row="2" col="1" [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
  <StackLayout row="3" col="1" orientation="vertical">
    <Button text="Scan Credentials" class="submit-button" (tap)="requestQrScan()"></Button>
    <Button text="Insert manually" (tap)="goToManualInsert()"></Button>
  </StackLayout>
</GridLayout>