<ActionBar class="nt-action-bar" title="Your accounts">
	<ActionItem (tap)="requestQrScan()" icon="res://ic_add_circle_white" ios.systemIcon="4" ios.position="right" text="Add new Configuration" android.position="actionBarIfRoom"></ActionItem>
</ActionBar>

<GridLayout rows="auto, *, 70">
	<StackLayout row="1" *ngIf="!hasAccounts && !isLoading" orientation="vertical" class="missing-accounts" (tap)="requestQrScan()">
		<Label class="icon icon-3x text-center" text="&#xf1f0;"></Label>
		<Label text="No accounts configured yet." class="missing-accounts text-center"></Label>
		<Label text="Please add one" class="missing-accounts text-center"></Label>
	</StackLayout>

	<RadListView id="list" [items]="accounts" row="1" *ngIf="hasAccounts && !isLoading"
		multipleSelection="false" selectionBehavior="None" (itemSelected)="onItemSelected($event)"
		swipeActions="true"
		(itemSwipeProgressStarted)="onSwipeCellStarted($event)"
		(itemSwipeProgressEnded)="onSwipeCellFinished($event)">
		<ng-template tkListItemTemplate let-item="item">
			<GridLayout columns="40, *, 35" class="-separator fill-bg" (tap)="select(item)">
				<Label col="0" class="icon icon-1-5x person-icon text-center" text="&#xf207;"></Label>
				<StackLayout col="1" orientation="vertical" class="list-item-padding">
					<Label [text]="item?.title" class="h3"></Label>
					<Label [text]="item?.url"></Label>
				</StackLayout>
				<Label col="2" text="&#xf2fb;" class="icon icon-1-5x person-icon text-center"></Label>
			</GridLayout>
		</ng-template>

		<GridLayout *tkListItemSwipeTemplate columns="auto, *" (tap)="onDeleteButtonTap($event)" class="-separator bg-danger">
			<StackLayout id="deleteBtn" col="0">
				<Label id="deleteText" text="&#xf154;" class="icon icon-1-5x person-icon text-center"></Label>
			</StackLayout>
		</GridLayout>
	</RadListView>

	<ActivityIndicator row="1" [busy]="isLoading"  class="activity-indicator"></ActivityIndicator>
	<Button row="2" (tap)="requestQrScan()" class="-primary -rounded-sm" text="Add new account"></Button>
</GridLayout>
