@import "./variables";
@import "~@nativescript/theme/core";
@import "~@nativescript/theme/orange";

.icon {
  font-family: 'Material-Design-Iconic-Font';
  font-weight: normal;
  font-style: normal;
  font-size: 24;
}

.icon-1-5x {
  font-size: 36;
}

.icon-2x {
  font-size: 48;
}

.icon-3x {
  font-size: 72;
}

.icon-4x {
  font-size: 96;
}

.strong {
  font-weight: bold;
}

.fill-bg {
  background-color: $background;
}

.ns-dark .fill-bg {
  background-color: $background-dark;
}

.text-muted {
  color: #6c757d;
}

.ns-dark .text-muted{
  color:#446f83;
}

.text-success {
  color: $success;
}

.ns-dark .text-success {
  color: $success-dark;
  font-weight: bold;
}

.-danger {
  background-color: $error;
  color: $white;
}

.ns-dark .-danger {
  background-color: $error-dark;
  color: $white;
}

.ns-dark .text-danger {
  color: $white;
}

.ns-dark .icon.text-danger {
  color: $error-dark;
}

.-success {
  background-color: $success;
  color: $white;
}

.ns-dark .-success {
  background-color: $success-dark;
  color: $white;
}

.text-warning {
  color: $warning;
}

.warning {
  background-color: $warning;
}

.ns-dark .-warning {
  color: $white;
  background-color: $warning-dark;
}