<GridLayout columns="10, *, 35" *ngIf="event">
    <StackLayout col="1" class="m-10" orientation="vertical">
        <Label [text]="event.name" class="body eventName" textWrap="true"></Label>
        <Label class="body" text="{{ event.begin | date:'short' }} - {{ event.end | date:'short' }}" *ngIf="!event.oneDay"></Label>
        <Label class="body" text="{{ event.begin | date:'shortDate' }} {{ event.begin | date:'shortTime' }} - {{ event.end | date:'shortTime' }}" *ngIf="event.oneDay"></Label>
        <Label class="body" [text]="event.location"></Label>
    </StackLayout>
    <Label [text]="iconText" col="2" class="icon icon-1-5x person-icon text-center" *ngIf="list"></Label>
</GridLayout>