<ActionBar class="nt-action-bar" title="Scan Attendees">
    <NavigationButton *ifAndroid icon="res://ic_arrow_back_white" (tap)="onBackTap()" text="Events"></NavigationButton>
    <NavigationButton *ifIos (tap)="onBackTap()" text="Events"></NavigationButton>
    <ActionItem (tap)="shuffle()" icon="res://ic_shuffle_white" ios.systemIcon="10" *ngIf="scans.length > 1" ios.position="right" text="Shuffle" android.position="actionBarIfRoom"></ActionItem>
    <!-- ActionItem (tap)="sendByEmail()" icon="res://ic_mail_outline_white" ios.systemIcon="7" *ngIf="scans.length > 0" ios.position="right" text="Send By Email" android.position="actionBarIfRoom"></ActionItem-->
</ActionBar>

<GridLayout [rows]="rowLayout" *ngIf="event">
    <GridLayout [columns]="additionalButton ? '*, *' : '*'" row="0">
        <Image [src]="account.url + event.imageUrl" class="m-10 m-b-0" loadMode="async" stretch="aspectFit" col="0"></Image>
        <GridLayout columns="*, 5, 25, 16" col="1" *ngIf="additionalButton" (tap)="additionalButtonTap($event)">
            <Label [text]="additionalButton.text" class="text-right font-weight-bold" col="0"></Label>
            <Label class="icon text-center icon-additional-button" text="&#xf1a3;" col="2"></Label>
        </GridLayout>
    </GridLayout>
    <RadListView #scanList id="list" [items]="scans" row="1"
		multipleSelection="false" selectionBehavior="None"
        swipeActions="false"
        pullToRefresh="true"
        (itemTap)="select($event)"
        (pullToRefreshInitiated)="onPullToRefreshInitiated($event)">
		<ng-template tkListItemTemplate let-item="item">
            <sponsor-scan-badge [item]="item"></sponsor-scan-badge>
        </ng-template>
    </RadListView>
    <StackLayout orientation="vertical" class="warning-msg m-t-30" (tap)="requestQrScan()" row="2" *ngIf="scans.length == 0">
        <Label class="icon icon-3x text-center" text="&#xf208;" ></Label>
        <Label text="No data collected so far" class="missing-accounts text-center"></Label>
        <Label text="Start scanning badges!" class="missing-accounts text-center"></Label>
    </StackLayout>
    <StackLayout row="3" orientation="vertical">
        <Button (tap)="requestQrScan()" class="-primary -rounded-sm" text="Scan"></Button>
    </StackLayout>
</GridLayout>
