@import "../../../../variables";

@mixin light-badge-color($name, $lightFinalColor, $textColor: $white, $buttonBackground: $white, $buttonText: $lightFinalColor) {
    :host-context(.ns-light) &-#{$name} {
        background: $lightFinalColor;
    }

    :host-context(.ns-light) &-#{$name} Label {
        color: $textColor;
    }

    :host-context(.ns-light) &-#{$name} Button {
        color: $buttonText;
        background-color: $buttonBackground;
    }
}

@mixin dark-badge-color($name, $darkFinalColor, $textColor: $background-dark, $buttonBackground: $background-dark, $buttonText: $darkFinalColor) {

    :host-context(.ns-dark) &-#{$name} Label {
        color: $textColor;
    }

    :host-context(.ns-dark) &-#{$name} Button {
        color: $buttonText;
        background-color: $buttonBackground;
    }

    :host-context(.ns-dark) &-#{$name} {
        background: $darkFinalColor;
    }
}

.logo {
    max-height: 100;
}

.ck {
    //light
    @include light-badge-color('primary', $alfio-primary);
    @include light-badge-color('success', $success);
    @include light-badge-color('danger', $error);
    @include light-badge-color('warning', $warning, $primary, $white, $primary);
    @include light-badge-color('info', $info);
    @include light-badge-color('dark', $background-dark);
    @include light-badge-color('light', $white, $primary, $primary);    
    @include light-badge-color('secondary', $grey-background, $primary, $primary);

    //dark
    @include dark-badge-color('primary', $alfio-primary-dark, $white, $white);
    @include dark-badge-color('success', $success-dark, $white, $white);
    @include dark-badge-color('danger', $error-dark, $white, $white);
    @include dark-badge-color('warning', $warning-dark);
    @include dark-badge-color('info', $info-dark, $white, $white, $background-dark);
    @include dark-badge-color('light', $white);
    @include dark-badge-color('dark', $background-dark, $white, $white, $background-dark);
    @include dark-badge-color('secondary', $grey-background);
}