@import "../../../../variables";

@keyframes ease-out {
    from { opacity: 0; }
    to { opacity: 1; }
}

@mixin light-badge-color($name, $lightFinalColor, $textColor: $white, $buttonBackground: $white, $buttonText: $lightFinalColor, $iconColor: $textColor) {

    &-#{$name}{
        background: $lightFinalColor;
        border-color: $background-dark;
        border-width: $border-width;
        border-radius: $border-radius-sm;
    }

    &-#{$name} Label {
        color: $textColor;
    }

    &-#{$name} Label.icon {
        color: $iconColor;
    }

    &-#{$name} Button {
        color: $buttonText;
        background-color: $buttonBackground;
    }
}

@mixin dark-badge-color($name, $darkFinalColor, $textColor: $background-dark, $buttonBackground: $background-dark, $buttonText: $darkFinalColor, $iconColor: $textColor) {

    :host-context(.ns-dark) &-#{$name} Label {
        color: $textColor;
    }

    :host-context(.ns-dark) &-#{$name} Button {
        color: $buttonText;
        background-color: $buttonBackground;
    }

    :host-context(.ns-dark) &-#{$name} {
        background: $darkFinalColor;
        border-color: $background;
        border-width: $border-width;
        border-radius: $border-radius-sm;
    }
}

.logo {
    max-height: 100;
}

.ck {
    //light
    @include light-badge-color('primary', $alfio-primary);
    @include light-badge-color('success', $success);
    @include light-badge-color('danger', $error);
    @include light-badge-color('warning', $warning, $primary, $white, $primary);
    @include light-badge-color('info', $info);
    @include light-badge-color('dark', $background-dark);
    @include light-badge-color('light', $white, $primary, $primary);
    @include light-badge-color('secondary', $grey-background, $primary, $primary);
    @include light-badge-color('none', $white, $primary, $success, $white, $success);

    //dark
    @include dark-badge-color('primary', $alfio-primary-dark, $white, $white);
    @include dark-badge-color('success', $success-dark, $white, $white);
    @include dark-badge-color('danger', $error-dark, $white, $white);
    @include dark-badge-color('warning', $warning-dark);
    @include dark-badge-color('info', $info-dark, $white, $white, $background-dark);
    @include dark-badge-color('light', $white);
    @include dark-badge-color('dark', $background-dark, $white, $white, $background-dark);
    @include dark-badge-color('secondary', $grey-background);
    @include dark-badge-color('none', $background-dark, $white, $success-dark, $white, $success-dark);

    &-animate {
        animation-name: ease-out;
        animation-duration: 0.3;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
}

.bg-warning {
    :host-context(.ns-dark) & {
        background-color: $warning-dark;
        Button {
            background-color: $white;
            color: $background-dark !important;
        }
        Label {
            color: $background-dark !important;
        }
    }

    :host-context(.ns-light) & {
        background-color: $warning;
    }
}

.bg-danger Label {
    color: $white !important;
}

.bg-danger Button {
    background-color: $white;
    
    :host-context(.ns-dark) & {
        color: $error-dark;
    }
    
    :host-context(.ns-light) & {
        color: $error;
    }
}