<ActionBar class="nt-action-bar" [title]="actionBarTitle">
    <NavigationButton *ifAndroid icon="res://ic_arrow_back_white" (tap)="onBackTap()" text="Events"></NavigationButton>
    <NavigationButton *ifIos (tap)="onBackTap()" text="Events"></NavigationButton>
</ActionBar>

<GridLayout rows="auto, 1, *, 16" columns="16, *, 16" [class.bg-danger]="!isLoading && status && isStatusError()" [class.bg-warning]="!isLoading && status && (isStatusMustPay() || isStatusWarning())">
    <checkin-stats *ngIf="displayCheckInStats" row="0" col="0" colSpan="3" [account]="account" [event]="event" ></checkin-stats>
    <StackLayout *ngIf="displayCheckInStats" row="1" col="0" colSpan="3" class="hr"></StackLayout>
    <GridLayout row="2" col="1" [rows]="resultRows" [ngClass]="notificationBoxClass" class="m-t-15">
        <StackLayout row="0" orientation="vertical" verticalAlignment="center" *ngIf="!isLoading">
            <ng-container *ngIf="!status" (tap)="scan()">
                <Image [src]="account.url + event.imageUrl" class="m-10 m-b-0" loadMode="async" stretch="aspectFit" height="100"></Image>
                <Label text="Start scanning!" class="text-center label font-weight-bold h2"></Label>
                <Label textWrap="true" text="Tap the button below to init the check-in process. Scan the QR-Code on the tickets and wait for the result." class="body text-center"></Label>
            </ng-container>
            <ng-container *ngIf="status" class="p-l-16 p-r-16">
                <Label class="icon icon-4x text-center" [text]="getStatusIcon()"></Label>
                <Label [text]="message" class="h2 text-center m-t-10" *ngIf="!isStatusSuccess() || ticket == null" textWrap="true"></Label>
                <ng-container *ngIf="isStatusSuccess() && ticket != null">
                    <Label [text]="ticket.fullName" class="h2 text-center"></Label>
                    <Label [text]="ticket.categoryName" class="h2 text-center"></Label>
                    <Label text="{{ticket.uuid}}" class="h6 text-center"></Label>
                </ng-container>
            </ng-container>
        </StackLayout>
        <StackLayout row="1" *ngIf="!isLoading && additionalServicesInfo.length > 0" orientation="vertical" verticalAlignment="center">
            <StackLayout class="hr"></StackLayout>
            <ng-container *ngFor="let item of additionalServicesInfo">
                <Label [text]="item.count + ' x ' + item.name" class="h2 m-l-10"></Label>
                <Label [text]="field.fieldName + ': ' + field.fieldValue" class="h3 m-l-30" *ngFor="let field of item.fields"></Label>
            </ng-container>
        </StackLayout>
        <Button class="-rounded-sm" row="2" *ngIf="!isLoading"
                [class.-primary]="!status" 
                (tap)="onPrimaryButtonTap()" [text]="getPrimaryButtonText()"></Button>
    </GridLayout>
    <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" row="2" col="1" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
</GridLayout>